body {
  font-size: 1.2em;
}
a {
  word-wrap: break-word;
}

.sticky {
  position: sticky;
  position: -webkit-sticky;
}

.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}
