:root {
  --primary: #2e6171;
  --secondary: #556f7a;
  --tertiatry: #798086;
  --fourary: #deecef;
  --fivary: #eec584;
}

p {
  font-size: 1.2em;
  color: black;
}
a {
  font-size: 1.1em;
  word-wrap: break-word;
}
.input-group .form-control,
.input-group-btn .btn {
  z-index: inherit !important;
}

.well-daily-graph {
  background-color: var(--fourary) !important;
}

.btn-daily {
  background-color: var(--fourary);
}
.btn-addList {
  background-color: var(--fourary);
}
.btn-filter {
  background-color: var(--secondary);
}
.article-list-container {
  background-color: var(--fourary);
}

.btn-group-filters {
  background-color: var(--fourary);
}

.well {
  margin: auto;
}

.resize {
  position: sticky;
  position: -webkit-sticky;
  border-width: 0 6px 6px 0;
}

.glyphicon-refresh {
  -webkit-animation: spin 1000ms infinite linear;
  animation: spin 1000ms infinite linear;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
