:root {
  --main-background: #322931;
  --darkGray: #433b42;
  --gray: #5c545b;
  --lightGray: #797379;
  --lighterGray: #989498;
  --lightererGray: #b9b5b8;
  --white: #ffffff;
  --red: #dd464c;
  --orange: #fd8b19;
  --yellow: #fdcc59;
  --green: #8fc13e;
  --lightBlue: #149b93;
  --blue: #1290bf;
  --pink: #c85e7c;
  --darkRed: #b33508;
}
.react-resizable {
  position: relative;
}
.react-resizable-handle {
  position: fixed;
  width: 20px;
  height: 20px;
  bottom: 0;
  right: 0;
  background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2IDYiIHN0eWxlPSJiYWNrZ3JvdW5kLWNvbG9yOiNmZmZmZmYwMCIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSI2cHgiIGhlaWdodD0iNnB4Ij48ZyBvcGFjaXR5PSIwLjMwMiI+PHBhdGggZD0iTSA2IDYgTCAwIDYgTCAwIDQuMiBMIDQgNC4yIEwgNC4yIDQuMiBMIDQuMiAwIEwgNiAwIEwgNiA2IEwgNiA2IFoiIGZpbGw9IiMwMDAwMDAiLz48L2c+PC9zdmc+');
  background-position: bottom right;
  padding: 0 3px 3px 0;
  background-repeat: no-repeat;
  background-origin: content-box;
  box-sizing: border-box;
  cursor: se-resize;
}
.p {
  font-size: 40px;
}

.container-fluid {
  background-color: var(--main-background);
}

.btn-more {
  width: .5em;
  height: 100%;
  background-color: var(--lightBlue);
  color: white;
}

.btn-drag {
  background-color: var(--blue);
  height: 1em;
  width: 100%;
}

.btn-submit {
  background-color: var(--orange);
  height: 2em;
  width: 100%;
}

.btn-addList{
  background-color: var(--pink);
}

.canvas {
  background-color: var(--darkGray);
}

.article-list-container {
  background-color: var(--gray);
}

.cursor-y {
  cursor: ns-resize;
}

.resizable-container {
  border-left: 2px var(--white);
  border-radius: 3px;
  border-left-style: ridge;
}
.cursor-x {
  cursor: ew-resize;
}
