:root {
  --main-background: #322931;
  --darkGray: #433b42;
  --gray: #5c545b;
  --lightGray: #797379;
  --lighterGray: #989498;
  --lightererGray: #b9b5b8;
  --white: #ffffff;
  --red: #dd464c;
  --orange: #fd8b19;
  --yellow: #fdcc59;
  --green: #8fc13e;
  --lightBlue: #149b93;
  --blue: #1290bf;
  --pink: #c85e7c;
  --darkRed: #b33508;
}
p {
  color: var(--green);
}
.modal-container {
  position: relative;
}
.modal-container .modal,
.modal-container .modal-backdrop {
  position: absolute;
}

.container-fluid {
  background-color: var(--main-background);
}

.btn-more {
  float:right;
  margin: .2em;
  background-color: var(--lightBlue);
}

.btn-submit {
  background-color: var(--orange);
  height: 2em;
  width: 100%;
}

.btn-addList {
  background-color: var(--pink);
}

.btn-logout {
  background-color: var(--darkRed);
}
.btn-analytics {
  background-color: var(--green);
  position: absolute;
  right: 1em;
}

.drag {
  cursor: move;
  position: -webkit-sticky;
  position: sticky;
  top: 1em;
  left: 1em;
  float: left;
  width: 1.5em;
  height: 1.5em;
  border: solid var(--blue);
  border-radius: 10px 0px;
  border-width: 0 5px 5px 0;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}

.resize {
  position: sticky;
}

.canvas {
  background-color: var(--darkGray);
}

.list-group-item {
  background-color: var(--yellow);
}

.article-list-container {
  background-color: var(--gray);
  margin-bottom: 0;
}

.page-header {
  color: var(--blue);
}
