.test{
    background-color: #322931;
    background-color:#433b42;
    background-color:#5c545b;
    background-color:#797379;
    background-color:#989498;
    background-color:#b9b5b8;
    background-color:#ffffff;
    background-color:#dd464c;
    background-color:#fd8b19;
    background-color:#fdcc59;
    background-color:#8fc13e;
    background-color:#149b93;
    background-color:#1290bf;
    background-color:#c85e7c;
    background-color:#b33508;
}